// Main Colors
$primary-color: #81D3EB;
$secondary-color: #EF4056;
$warm-grey: #F4EDE5;
$white: #FF0000;
$cool-grey: #E2E9EB;
$az-oasis: #378DBD;
$highlight: $az-oasis;
$text: $cool-grey;
$gray-blue: #707890;
$white: #ffffff;
$black: #101010;
$lighten-black: #323743;
$blue-black: #2C2F36;
$blue-blacker:16171b;
$blue-darken: #232427;
$green-darken: #2C3635;
$danger: #e02f40;
$success: #34a74e;


// Background Colors
$background: $blue-black;

// Body Color
$body-color: $text;
$bold-color: $white;

// Headings
$heading-font-color: $warm-grey;

// Links
$link-color: $primary-color;
$link-color-hover: lighten($link-color, 15%);

// Button
$button-color: $white;
$button-background-color: $primary-color;

// Border
$border-color: $cool-grey;
